$theme-colors: (
    "primary": rgb(30, 47, 64),
    "dark": #2b2e41b2
);
@import "node_modules/bootstrap/scss/bootstrap";

body {
    padding-top: 10px;
    margin-bottom: 10px;
}

header {
    margin-bottom: 10px;
    padding: 10px 0;
}

.footer {
    margin-top: 10rem;
    background-color: darken($color: #372b41b2, $amount: 0);
}

.navbar {
    border-bottom: 20px solid #432365;
    background-color: rgb(87, 6, 101);
}

:root {
    --color1: #878e8b;
    --color2: #52339a;
}

.card-img-top {
    border-radius: 30px;
}

header,
footer,
section {
    padding: 10px 0;
}

header,
footer {
    /* Permalink*/
    background: url(../images/vector/time.png), var(--color1);
    background: url(../images/vector/time.png), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../images/vector/time.png), -webkit-linear-gradient(left, var(--color1) 0%), var(--color2) 100%;
    background: url(../images/vector/time.png), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    background-size: contain;
}

.itd_play {
    background-color: var(--color1);
    width: 70px;
    height: 70px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
}

.itd_play:hover {
    background-color: var(--color2);
}

.itd_triangle {
    margin-right: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
}

.btn-itd:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}

/* О курсе */

.about {
    background-color: #b99fc8;
}

.about i {
    font-size: 25px;
    color: var(--color2)
}

.itd_circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}

/* Для кого курс*/

.forwhom h5 {
    padding: 50px;
    border: 3px solid var(--color1)
}

/* color */

.color1 {
    color: var(--color1)
}

.color2 {
    color: var(--color2)
}

.bg1 {
    background-color: var(--color1)
}

.bg2 {
    background-color: var(--color2)
}

.w-25 {
    background-color: #430864;
    border-bottom: 5px solid #52339a;
}

.w-50 {
    background-color: #290b3b;
}

.w-75 {
    background-color: #b99fc8;
}

.w-100 {
    background-color: #b99fc8;
}

// geek 

h2 {
    color: aqua;
}

#first {
    background: #1605b1;
}

.gikborder {
    border: 100px solid rgb(34, 185, 59);
}

.giktitle {
    background-color: grey;
}

.gikheading {
    color: darkgoldenrod;
}

.gikheading-about {
    color: rgb(17, 38, 228);
}