
$theme-colors: (
    "primary": rgb(195, 255, 0),
    "dark": #372b41b2
); 

@import "node_modules/bootstrap/scss/bootstrap";


 body {
    padding-top: 10px;
    margin-bottom: 10px;
     
} 

header {
    margin-bottom: 50px;
}



.footer {
    margin-top:10rem;
    background-color: darken($color: #372b41b2, $amount: 0);
} 


 .navbar {
    border-bottom:200px solid #100e0f ;
    background-color: rgb(18, 17, 18);
    
 } 



 