$theme-colors: (
    "primary": rgb(30, 47, 64),
    "dark": #2b2e41b2
);
@import "node_modules/bootstrap/scss/bootstrap";

body {
    padding-top: 10px;
    margin-bottom: 10px;
}

header {
    margin-bottom: 10px;
    padding: 10px 0;
}

.footer {
    margin-top: 10rem;
    background-color: darken($color: #372b41b2, $amount: 0);
}

.navbar {
    border-bottom: 20px solid #432365;
    background-color: rgb(87, 6, 101);
}

:root {
    --color1: #878e8b;
    --color2: #ebcf1e;
}

.card-img-top {
    border-radius: 30px;
}

header,
footer,
section {
    padding: 10px 0;
}

header,
footer {
    /* Permalink*/
    background: url(../images/vector/time.png), var(--color1);
    background: url(../images/vector/time.png), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../images/vector/time.png), -webkit-linear-gradient(left, var(--color1) 0%), var(--color2) 100%;
    background: url(../images/vector/time.png), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    background-size: contain;
}

