<script src="assets/js/main.min.js"></script>
<!--<script src="assets/js/1.jquery-3.7.1.min.js"></script>-->
<!--<script src="assets/js/2.bootstrap.min.js"></script>-->
<!-- \Users\86828\Documents\projects\gulpv3\node_modules\bootstrap\dist\css\bootstrap.min.css -->

<footer class="footer container text-center">

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Камни</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Изделия</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Васту</label>
    </div>
</footer>